# Automatically activate the reranking virtual environment when entering this directory
# This file is used by direnv (https://direnv.net/)
#
# Installation:
#   brew install direnv  # macOS
#   apt install direnv   # Ubuntu/Debian
#
# Setup (add to ~/.bashrc or ~/.zshrc):
#   eval "$(direnv hook bash)"   # for bash
#   eval "$(direnv hook zsh)"    # for zsh
#
# First time setup in this directory:
#   direnv allow

source venv/bin/activate

